<div id="header-img">
  <div class="row title-top-header">
    <div class="col-12">
      <h1>

      <%= link_to t("proposals.index.start_proposal"),
        new_proposal_path,
        class: "button expanded button-secondary" %>
            
      </h1>
    </div>
  </div>
</div>
